/*
Layout.css 
.pages-container {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .home-pages {
    background-image: url('./images/home-bg.jpg');
  }
  
  .about-pages{
    background-image: url('./images/about-bg.jpg');
  }
  
  .contact-pages{
    background-image: url('./images/contact-bg.jpg');
  }
    
/* Navbar.css */
/* 
 */