
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "poppins";
  
}
.sign-up-container {
   height: 100vh;
   width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    /* background-image:  url(./images/Signup33.jpg); */
     background: linear-gradient(45deg ,#55d0bcd9,60% ,#e370d8);
    background-size: cover;
    background-repeat: no-repeat;
/*background-image: linear-gradient(to bottom right, #61b373, #3fa8a6); */
/*background: linear-gradient(45deg ,#098dc1,60% ,#f417de);*/
 }
 .Form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 10px;
  transform: translateX(410px);
  transition: .5s ease;
  transform: translateX(0);
  background: rgb(238, 239, 239);
  border-radius: 20px;
  
  /*background-color:snow;*/
  /*background-color: #3dc059;*/
  /*background-image: linear-gradient(to bottom right, #3dc059, #2b6bb5);*/
  /* background: linear-gradient(45deg ,#098dc1,60% ,#f417de);  */
}


.login-container {
  height: 100vh;
  width: 100%;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   /* background-image:  url(./images/Signup6.jpg);  */
   background: linear-gradient(45deg ,#55d0bcd9,60% ,#e370d8);
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
/*background-image: linear-gradient(to bottom right, #61b373, #3fa8a6); */
/*background: linear-gradient(45deg ,#098dc1,60% ,#f417de);*/
}
lable{
  display: block;
  margin-bottom: 290px;
  font-weight: bold;
}
.input-types:hover {
  border-color: #3dc059;
  box-shadow: 0 0 8px rgba(61, 192, 89, 0.5);
}
button {
  width: 90%;
  padding: 10px; 
  margin-top: 16px;
  background-color: #2f78e4; 
  color: #fff;
  position: relative;
    z-index: 1;
    overflow: scroll;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
}

button:hover {
  background-color: #cd612b;
}

.btn{
  width: 100%;
  height: 90;
  margin-top: 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: linear-gradient(45deg ,#098dc1,60% ,#f417de);
  font-size: 19px;
  font-weight: 500;
  color: #eee;
  position: relative;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.button::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  height: 100%;
  width: 00%;
  background-color: #1566e0; /*#3dc059;*/
  transition: .5s ease;
  z-index: -1;
}
.button:hover{
  color: #4fc841;
}
.button:hover:before{
width: 100%;
}


/*login.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;

}

button:hover {


  cursor: pointer;
  font-size: bold;
}

button:hover {
  background-color: #19d140;
}



/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {
  padding: 2rem;
  text-align: center;
}


.input-box{
  margin: 45px 0;
  height: 40px;
  width: 300px;
  border-bottom: 2px solid rgba(0,0,0,.5);
  position: relative;
}
.input-box input{
  width: 90%;
  height: 100%;
  float: right;
  border: none;
  outline: none;
  font-size: 15px;
  color: rgba(0,0,0,.9);

  padding: 5px 0;
  background: transparent;
}
.input-box label{
  position: absolute;
  left: 0;
  transform: translateY(-56%);
  font-size: 15px;
  font-weight: 500;
  color: #333;
}
.input-box i{
  position: absolute;
  left: 0px;
  transform: translateY(75%);
  font-size: 22px;
  color: rgba(0,0,0,.5);
}



.main-conainter{
  display: flex;
  justify-content: center;
  width: 100%;
  
 

}
.IMG-DIV img{
  
 width: 50%;

 height: 50vh;
}















































































/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

*/